{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

Web dev is full of frustration
From input to pagination.
    Simplicity is best.
    Forget all of the rest.
Let's drop that authentication.

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}
{% block id %}profiles-register{% endblock %}

{% block body %}
  <h1>{% trans "Become a swarm master!" %}</h1>
  <div class="turtle">
    <p>
      {% trans "Make sure you've gone through the" %}
      <a href="{% url docs.intro %}">{% trans "Getting Started" %}</a>
      {% trans "tutorial, then submit a link to your git repository." %}
    </p>
    <form action="{% url profiles.register_git_url %}" method="POST">
      <input type="text" name="git_url">
      <input type="submit" value="{% trans "Submit" %}">
    </form>
  </div>
  <div class="jitb">
    <p>
      {% trans "Congrats!  Your new user id is" %} <span></span>.
      {% trans "You will want to write that down or store it in your " %}
      <code><a href="{% url docs.settings %}">settings.json</a></code>.
    </p>
    <p>
      {% trans "Now get coding or" %}
      <a class="profile-link" href="{% url profiles.show id=0 slug="anonymous-swarmmaster" %}">{% trans "visit your profile." %}</a>
    </p>
  </p>
{% endblock %}
