{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

They were always quick to dismiss us,
And no one ever wanted to discuss
    Allowing cartoon characters to pass
    As citizens first-class.
They just made fun of our prevalent strabismus.

{% endcomment %}
{% load i18n %}

{% block title %}{{ profile.name }}{% endblock %}

{% block body %}
  {% if profile.flagged %}
    <p id="profiles-flagged">
      {% trans "User flagged!" %}
      <code>marionette parse {{ profile.pk }}</code>
      {% trans "failed.  We will retry sometime after" %}
      {{ profile.unflag_timestamp }} UTC.
    </p>
  {% endif %}

  <div id="profiles-img"><img alt="{% trans "Profile image for" %} {{ profile.name }}" src="{{ profile.img_url }}"></div>

  <p>{% trans "Name" %}: {{ profile.name }}</p>
  <p>{% trans "Level" %}: {{ profile.level }}</p>

  {% trans "XP" %}: {{ profile.calc_xp_current }} / {{ profile.calc_xp_needed }}
  <div id="profiles-xp-bar">
    <div id="profiles-xp-colored" style="width:{{ profile.calc_xp_percent }}%;"></div>
  </div>

  <p>{% trans "Upgrades available" %}: {{ profile.num_upgrades_available }}</p>

  <code id="profiles-git-clone">git clone {{ profile.git_url }}</code>

  <p><a href="{{ profile.get_replays_url }}">{% trans "Replays" %}</a></p>

{% endblock %}
