body {margin: 0em; font-family: arial; font-size: 15px; background-color: #111111; color: #dddddd;}
a {color: #77a655; text-decoration: none;}
a:hover {color: #a0d975;}
input[type=text] {background-color: #d9e2e8;}
.fade-container {min-height: 1px;}
.jitb {display: none;}

#banner {height: 3em; line-height: 3em; border-bottom: 1px solid #5ddb00;}
#banner-center {position: relative; width: 60em; margin-left: auto; margin-right: auto;}
#banner-logo {width: 110px; height: 90px; float: left; margin-left: .5em; margin-top: .5em;}
#banner-tabs {padding: 0em; margin-top: 0em;}
#banner-tabs li {height: 3em; font-size: 1.2em; display: inline-block; margin-right: 2em; font-family: monospace;}
#user-info {position: absolute; right: 0em; top: 0em; font-size: .8em; line-height: 3em;}
.content {margin-left: auto; margin-right: auto; width: 60em; margin-top: 2em; margin-bottom: 2em;}

.mwAjax-error {color: #aa0000;}

/* Add-Remove lists */
.xlist ul {width: 40em; margin-left: auto; margin-right: auto;}
.xlist li {display: block; line-height: 2em; height: 2em;}
.xlist-header {font-weight: bold;}
.xlist-remove-button {height: 2em; width: 2em; background-image: url('../img/openid/x.png'); background-color: #111111; border: none; cursor: pointer; float: right;}

/* 404 page */
#http404, #http500 {text-align: center; font-family: monospace; color: #77a655;}
#http404 h1 {font-size: 2em;}
#http404 img, #http500 img {margin: 3em;}

/* Credits page */
.dev_info {display: inline-block}
.dev_info img {width: 30em; float: left; margin: 1em;}
.dev_right {width: 25em; display: inline-block;}
.license_column {width: 10em; font-weight: bold;}

/* Facybox CSS */
#facybox {position: absolute; top: 0; left: 0; margin: -20px 0 0 -20px; z-index: 100; text-align: left; padding: 18px; min-width: 40px; min-height: 40px;}
#facybox .w,  #facybox .e, #facybox  .nw, #facybox .ne, #facybox .sw, #facybox .se {min-height: 18px; min-width: 13px;}
#facybox .n, #facybox .s {background-repeat: repeat-x; height: 18px;}
#facybox .w, #facybox .e {background-repeat: repeat-y;}
#facybox .close {background-image: url('../img/x.png'); position: absolute; top: 5px; right: 0; display: block; width: 30px; height: 30px;}
#facybox .popup {position: relative;}
#facybox table {border-collapse: collapse;}
#facybox td {border-bottom: 0; padding: 0;}
#facybox .body {padding: 10px; background: #fff; width: auto;}
#facybox_overlay {position: fixed; top: 0px; left: 0px; height: 100%; width: 100%;}
.facybox_hide {z-index:-100;}
.facybox_overlayBG {background-color: #000; z-index: 99;}
