/* unit documentation */
.docs-unit-header {text-align: center;}
#docs-unit-image {width: 300px; display: inline-block; float: right; margin-left: 4em; text-align: center; border: 1px solid white;}
#docs-unit-image img {margin: 1em;}
#docs-unit-image p {text-align: left; margin: 1em;}
#docs-stat-table {margin-bottom: 2em;}
#docs-stat-table .name {width: 15em; height: 1.5em; font-weight: bold;}
#docs-stat-table .val {width: 30em;}
#docs-upgrade-table td {height: 2em; width: 2em; background-color: #aaaaaa;}
#docs-upgrade-table .name {background-color: #111111; border: 0px; width: 6em;}
#docs-upgrade-table .choosable {cursor: pointer; color: #000000; text-align: center;}
#docs-upgrade-table .chosen {background-color: #3344aa;}

.docs-unit-methods, .docs-unit-vars {margin-left: 1em;}
.docs-method-name {display: inline; font-family: monospace; font-weight: bold; color: #77a655;}
.docs-method-params {font-style: italic; display: inline; color: #77a655; font-weight: normal;}
.docs-method-desc {margin-left: 1em;}

/* other docs */
.docs-script-comm {font-weight: bold; font-family: monospace; line-height: 3em; margin-top: 1em;}
.docs-p {margin-left: 10px;}
#docs-settings-ul li {margin: 1em 0em;}
