/* profiles browse */
.profiles-browse-col {font-weight: bold; width: 5em;}
#profiles-browse-name {width: 15em;}

/* profiles search */
#profiles-search-form {text-align: center;}
.profiles-search-field {height: 2em; width: 25em;}
#profiles-search-label {line-height: 2em; font-size: 1.5em;}
#profiles-search-li img {width: 2em; max-height: 4em; margin: .5em 1em .5em 0em; vertical-align: middle;}
.ui-autocomplete {list-style-type: none; padding: 0em; margin: 0em;}

/* profiles show */
#profiles-edit-link {float: right; margin-top: .5em;}
#profiles-flagged {background-color: #ffaaaa; color: black; padding: 1em; border: 2px solid #ff5555; border-radius: 1em; text-align: center;}
#profiles-flagged code {background-color: #ffdddd; margin-left: .3em; margin-right: .3em; padding: .2em;}
#profiles-git-clone {margin-top: 3em; display: block;}
#profiles-xp-bar {border: 1px solid #dddddd; height: 1em; width: 10em; display: inline-block; margin-left: 1em;}
#profiles-xp-colored {background-color: red; height: 100%;}
#profiles-img {float: right;}
#profiles-img img {width: 15em; max-height: 45em;}

/* profiles register */
#profiles-register h1 {margin-bottom: 2em;}
#profiles-register {text-align: center;}
#profiles-register input {margin: 2em auto; height: 2em; width: 30em; display: block; font-size: 1.5em; border: 2px solid #777; padding: 0 .3em;}
#profiles-register input[type=submit] {width: 5em;}
