{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "500 Server Error" %}{% endblock %}

{% block body %}
  <div id="http500">
    <h1>You exploded our server.</h1>
    <p>If this was our fault, we apologize deeply and will work to fix whatever went wrong.  If this was your fault, please remember that the mutants are on <em>our</em> side.</p>
    <img src="{{ MEDIA_URL }}img/500.png"></img>
  </div>
{% endblock %}
