{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block body %}

<p>
  {% blocktrans %}
    Direct your pack of mutants, defend your territory, and conquer the world!
    You upload your code to control your mutants and we run it against
    code from our other players.  As you win battles, you gain experience you can
    use to purchace upgrades or new unit types.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}For information on how to play, see our{% endblocktrans %}
  <a href="{% url docs.intro %}">{% trans "Getting Started" %}</a>
  {% trans "tutorial." %}
</p>

<p>
  {% blocktrans %}
    Marionette is Free Software.  All Marionette code is licensed under
    <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>,
    and all art is <a href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a>.
  {% endblocktrans %}
  <ul>
    <li><a href="https://gitorious.org/marionette/">{% trans "Source code" %}</a></li>
    <li><a href="https://gitorious.org/marionette/pages/Contributing">{% trans "Contributing" %}</a></li>
    <li><a href="http://forge.inkylabs.com/projects/marionette/issues">{% trans "Issues" %}</a></li>
  </ul>
</p>

<a name="team"></a>
<h2>{% trans "The team" %}</h2>

<div class="dev_info">
  <img src="{{ MEDIA_URL }}img/dev_pics/cco3.png">
  <div class="dev_right">
    <h3><a href="http://inkylabs.com/~cco3">cco3</a></h3>
    <p>cco3@inkylabs.com</p>
    <p>{% blocktrans %}founder, architect, creative director{% endblocktrans %}</p>
  </div>
</div>
<div class="dev_info">
  <img src="{{ MEDIA_URL }}img/dev_pics/sarato.png">
  <div class="dev_right">
    <h3><a href="http://inkylabs.com/~sarato">sarato</a></h3>
    <p>sarato@inkylabs.com</p>
    <p>{% blocktrans %}founder, developer, lead artist{% endblocktrans %}</p>
  </div>
</div>
<p>If you use IRC, we hang out on freenode in #inkylabs.</p>

<h2>{% trans "Third-party packages" %}</h2>

<p>
  {% blocktrans %}
    "If I have seen a little further it is by standing on the shoulders of giants."  -Isaac Newton
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
    These are the third-party packages used to make Marionette, and their licenses.
  {% endblocktrans %}
</p>

<table id="licenses">
  <tr id="license_header">
    <td class="license_column">{% trans "package" %}</td> <td class="license_column">{% trans "version" %}</td> <td class="license_column">{% trans "license" %}</td></b>
  </tr>
  <tr>
    <td>facybox</td> <td>63c6a5</td> <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT</a> and <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL v2.0</a></td>
  </tr>
  <tr>
    <td>jQuery</td> <td>0df472</td> <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT</a> and <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL v2.0</a></td>
  </tr>
  <tr>
    <td>jQuery doTimeout</td> <td>1.0</td> <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT</a> and <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL v2.0</a></td>
  </tr>
  <tr>
    <td>jQuery snippet</td> <td>2.0.0</td> <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT</a></td>
  </tr>
  <tr>
    <td>Jaws</td> <td>1fda10</td> <td><a href="http://www.gnu.org/licenses/lgpl.html">LGPL v3.0</a></td>
  </tr>
  <tr>
    <td>GAE SDK</td> <td>1.5.0</td> <td><a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a></td>
  </tr>
  <tr>
    <td>virtualenv</td> <td>1.6.1</td> <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT</a></td>
  </tr>
  <tr>
    <td>django-appengine</td> <td>60c2b3</td> <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD v3.0</a></td>
  </tr>
  <tr>
    <td>django-annoying</td> <td>0.7.6</td> <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD v3.0</a></td>
  </tr>
  <tr>
    <td>django-authopenid</td> <td>1.0.1</td> <td><a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a></td>
  </tr>
  <tr>
    <td>django-autoload</td> <td>1698ab</td> <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD v3.0</a></td>
  </tr>
  <tr>
    <td>django-compress</td> <td>1.0.1</td> <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT</a></td>
  </tr>
  <tr>
    <td>dango-nonrel</td> <td>1698ab</td> <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD v3.0</a></td>
  </tr>
  <tr>
    <td>django-filetransfers</td> <td>32ddea</td> <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD v3.0</a></td>
  </tr>
  <tr>
    <td>django-nose</td> <td>0.1.3</td> <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD v3.0</a></td>
  </tr>
  <tr>
    <td>django-toolbox</td> <td>baf3bb</td> <td><a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD v3.0</a></td>
  </tr>
  <tr>
    <td>google-appengine</td> <td>1.6.0</td> <td><a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a></td>
  </tr>
</ul>
{% endblock %}
