{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limrick here>

{% endcomment %}
{% load i18n %}
{% load compressed %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{{ SITE_NAME }} | {% block title %}{% endblock %}</title>
    {% if DEBUG %}
      {% compressed_css 'main' %}
      {% compressed_js 'main' %}
    {% else %}
      <link href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js" charset="utf-8"></script>
    {% endif %}
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="banner">
      <div id="banner-logo">
        <a href='{% url home %}'><img src="{{ MEDIA_URL }}img/logo.png"</img></a>
      </div>
      <div id="banner-center">
        <ul id="banner-tabs">
          <li><a href="{% url about %}">About</a></li>
          <li><a href="{% url docs.root %}">Documentation</a></li>
          <li><a href="{% url replays.browse %}">Replays</a></li>
          <li><a href="{% url profiles.browse %}">Users</a></li>
        </ul>
      </div>
    </div>
    <div id="{% block id %}{% endblock %}" class="content">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
