{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block body %}
<h2>{% trans "Mutant Marionette: an AI programming game for the web" %}</h2>
<p>
  {% url docs.intro as getting_started_url %}
  {% blocktrans %}
    Direct your pack of mutants, defend your territory, and conquer the world!
    You upload your program and we run it against code from our other players.
    As you win battles, you gain experience you can use to purchace upgrades
    or new unit types.  For more information, see our
    <a href="{{ getting_started_url }}">Getting Started</a> tutorial.<br>
    (Note: this game is a work in progress, currently in development.)
  {% endblocktrans %}
</p>

{% if replay %}
  <div id="replay-container">
    <canvas id="replay" data-id="{{ replay.pk }}"></canvas>
  </div>
{% endif %}

<h2>{% trans "The story begins..." %}</h2>
<p>{% blocktrans %}
  In the year 2092, life was good. Science was at a peak time, famine and
  pestilence had been completely controlled, and world had achieved peace that
  would last forever… or so they thought.
{% endblocktrans %}</p>

<p>{% blocktrans %}
  Despite all these advances, battery technology still had remained
  relatively unchanged since the early 1900s. However, a new theoretical
  element was about to change all that: “Grutonium”. A few grams of Grutonium
  would be a portable power source capable of powering an entire city for a
  year. It would only take some initial synthesis to create it. After that, it
  could be duplicated through a symbiotic relationship inside of a special
  fungus. Many came from around the world to witness the first synthesis of
  Grutonium. However, it did not go as planned.
{% endblocktrans %}</p>

<p>{% blocktrans %}
  Grutonium was indeed created, but in the process of its creation, a
  radioactive blast spread across the earth forever changing the dynamics of
  the planet. The blast created mutations, and many species meld into hybrids.
  “demisapiens” as they came to be called – half man, half animal – formed
  tribes and fought for control of the planet. However, they lacked the
  intelligence and understanding of technology possessed by “pureman”, those
  with full human blood.
{% endblocktrans %}</p>

<p>{% blocktrans %}
  These tribes solicit a pureman to become their leader. If the pureman
  accepts they become known as the “swarm-master”. They are granted full
  dominion over the tribe and in exchange, they use their pureman technology
  and intelligence to guide their subjects into battle.
{% endblocktrans %}</p>

<p>{% blocktrans %}
  Now these many tribes are at war to gain control of the planet, lead by
  their respective swarm-masters. And you, pureman, will you sit by idly and
  watch the Earth fall into the hands of the less worthy? Or will you lead the
  way to power and glory? Will you become a swarm-master?
{% endblocktrans %}</p>
{% endblock %}
