{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - Marionette Commands" %}{% endblock %}

{% block body %}

  <h1>Script Commands</h1>

  <h2>Global Flags</h2>
    <p>{% blocktrans %}
    Flags you can pass to <code>marionette</code>.  Global flags must come
    before the command, and command flags must come after, e.g.
    <code>marionette --quiet run --nofetch 57 61</code>.
      <ul>
        <li><code>--domain, -d</code>: the domain to sync code from
          (defaults to mutantmarionette.com)</li>
        <li><code>--quiet, -q</code>: only print error messages</li>
      </ul>
    {% endblocktrans %}</p>

  <h2>Commands and Command Flags</h2>
  <dl>
    <dt class="docs-script-comm">marionette parse [filename1|directory1] [filename2|directory2] ...</dt>
      {% url docs.requirements as req_url %}
      <dd>{% blocktrans %}
        Checks your code for syntax, and for illegal imports.  Parse is run
        automatically with <code>marionette run</code>.  If you pass a
        directory to <code>parse</code>, it assumes it is your root directory
        and will look for a valid <code>LICENSE</code> file and a valid
        <code>settings.json</code> file.  See the {% endblocktrans %}
        <a href="{{ req_url }}">requirements page</a> for more information.
      </dd>

    <dt class="docs-script-comm">marionette run [directory1|ID1] [directory2|ID2] ...</dt>
      <dd>{% blocktrans %}
        Reads the code given the root directories, or uses the most
        recently uploaded
        code for the given player IDs, whichever you provide.  Runs a game
        between those AIs, and automatically starts a server hosting the
        replay of the game.{% endblocktrans %}</dd>
      <dd>{% blocktrans %}
      Here are some flags you can use with <code>run</code>:
        <ul>
          <li><code>--nofetch, -f</code>: do not sync user code (when
            specifying a player id)</li>
          <li><code>--noserve, -v</code>: run without serving</li>
          <li><code>--replaydir, -r</code>: where to store the replay</li>
          <li><code>--userloglevel, -l</code>: sets the log level</li>
        </ul>
      {% endblocktrans %}</dd>

    <dt class="docs-script-comm">marionette serve [replay_directory]</dt>
      <dd>{% blocktrans %}
        Takes a directory with a replay from a previous game, and starts a
        server to display the replay.
      {% endblocktrans %}</dd>
  </dl>
{% endblock %}
