{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - Getting Started" %}{% endblock %}

{% block body %}

  <h1>Getting Started</h1>

  <h2>{% trans "Installing" %}</h2>
    <p class="docs-p">{% blocktrans %}
      First, <a href="http://f.inkylabs.com/attachments/download/3/marionette-0.2.tar.gz">download</a> the latest version of marionette and untar it.
      Then, choose one of the following methods to install:
    {% endblocktrans %}</p>
    <h3>System-wide installation (requires sudo)</h3>
    <pre class="bash">
sudo python3 setup.py install</pre>
    <h3>Home directory installation</h3>
    <pre class="bash">
echo 'export PATH=~/.local/bin:$PATH' >> ~/.bashrc
source ~/.bashrc
python3 setup.py install --user</pre>

  <h2>{% trans "Writing your AI" %}</h2>
    {% url docs.marionette.units as units_url %}
    <p class="docs-p">{% blocktrans %}
      Your code goes in a file called <code>__init__.py</code>, in your root
      directory.  In that file, you need to define a class called
      <code>Toad</code> to control your toad units.  <code>Toad</code>
      needs to have a method called <code>act()</code> which tells your toad
      what action to perform that round.  For more information about methods
      unique to each unit type, see the
      <a href="{{ units_url }}">unit documentation</a> pages.
    {% endblocktrans %}</p>
    <p class="docs-p">{% blocktrans %}
      Here is an example of what your <code>__init__.py</code> might look like:
    {% endblocktrans %}</p>
    <pre class="python">
from marionette.units import Unit

class Toad(Unit):
    def act(self):
        # Eat if we can
        if self.inventory.get('grutonium', 0) > 0:
            return 'eat', {
                'typename': 'grutonium',
                'amount': self.inventory['grutonium']
            }

        # Grab an item if we can
        items = self.items_in_view
        for item in items:
            if item.pos == self.pos:
                return 'grab', {
                    'uid': item.uid,
                    'amount': item.amount
                }

        # Move to an item if we see one (not necessarily closest)
        if len(items) > 0:
            target = items[0]
            return 'move', {
                'pos': target.pos
            }

        # Move to (0, 0) if there's nothing better to do
        return 'move', {
            'pos': (0, 0)
        }</pre>
        {# that last line should return idle #}
    <p class="docs-p">{% blocktrans %}
      This is a basic AI which will seek out grutonium, pick it up, and eat it.
    {% endblocktrans %}</p>

  <h2>{% trans "Other necessary files" %}</h2>
    {% url docs.settings as settings_url %}
    <p class="docs-p">{% blocktrans %}
      In your code's root directory, you will need a <code>LICENSE</code> file,
      and a <code>settings.json</code> file, and your <code>__init__.py</code>
      file (discussed in the "Writing your AI" section).
    {% endblocktrans %}</p>
    <p class="docs-p">{% blocktrans %}
      Your <code>LICENSE</code> should contain the text of the Apache License
      v2.0.  You can download the file <a href=
      "http://www.apache.org/licenses/LICENSE-2.0.txt">here</a>.
    {% endblocktrans %}</p>
    <p class="docs-p">{% blocktrans %}
      Your <code>settings.json</code> needs to specify your <code>name</code>,
      <code>level</code>, and <code>api_version</code> in json.
      (<code>api_version</code> tells us which version of marionette
      your code works with, which should be the most recent version.)
      You can use this template for your <code>settings.json</code>:
    {% endblocktrans %}</p>
    <pre class="json">
{
    "name": "&ltYour Name&gt",
    "level": 1,
    "upgrades": {
        "toad": {}
    },
    "api_version": "0.2"
}</pre>
    <p class="docs-p">{% blocktrans %}
      For more about your <code>settings.json</code>, see the
      <a href="{{ settings_url }}">settings</a> page.
    {% endblocktrans %}</p>

  <h2>{% trans "Testing your AI" %}</h2>
    <p class="docs-p">{% blocktrans %}
      If you want to watch your units in action and make sure they are acting
      like you'd expect, you can do
    {% endblocktrans %}</p>
    <pre class="bash">
marionette run mycodedir/ mycodedir/</pre>
    <p class="docs-p">{% blocktrans %}
      (You give it your directory twice because it needs at least 2 players
      to run a game.)
    {% endblocktrans %}</p>
    {% url docs.commands as commands_url %}
    <p class="docs-p">{% blocktrans %}
      This command launches a server to display the game which you visit in
      your browser.  For more information on <code>run</code>,
      <code>parse</code>, or the other <code>marionette</code> commands
      available, check out the <a href="{{ commands_url }}">marionette commands
      </a> docs.
    {% endblocktrans %}</p>

  <h2>{% trans "Putting your code online" %}</h2>
    {% url register as register_url %}
    <p class="docs-p">{% blocktrans %}
      You need to host your code in a publically available git repository.
      After you have a git url, visit our
      <a href="{{ register_url }}">registration page</a>
      and create an account.
    {% endblocktrans %}</p>

  <p class="docs-p">{% blocktrans %}
    After you've completed these steps, check your profile periodically to see
    how you are doing and if you have upgrades available.
  {% endblocktrans %}</p>

{% endblock %}
