{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - marionette.utils.spatial" %}{% endblock %}

{% block body %}

  <h2><code>marionette.utils.spatial</code></h2>

  <div class="docs-method-name">
    marionette.utils.spatial.distance(<span class="docs-method-params">from, to</span>)
  </div>
  <div class="docs-method-desc"><p>Takes two tuples <code>(pos, size)</code>,
    or two objects with <code>.pos</code> and <code>.size</code>.  Returns
    shortest distance between any points in the objects.
  </p></div>

  <div class="docs-method-name">
    marionette.utils.spatial.nearest_point(<span class="docs-method-params">from, to</span>)
  </div>
  <div class="docs-method-desc"><p>Takes two tuples <code>(pos, size)</code>,
    or two objects with <code>.pos</code> and <code>.size</code>.  Returns
    the point on <code>to</code> object that is closest to <code>from</code>
    object.
  </p></div>

  <div class="docs-method-name">
    marionette.utils.spatial.nearest_points(<span class="docs-method-params">from, to</span>)
  </div>
  <div class="docs-method-desc"><p>Takes two tuples <code>(pos, size)</code>,
    or two objects with <code>.pos</code> and <code>.size</code>.  Returns
    a tuple, with the points on both objects that are closest to each other.
  </p></div>

  <div class="docs-method-name">
    marionette.utils.spatial.overlaps(<span class="docs-method-params">from, to</span>)
  </div>
  <div class="docs-method-desc"><p>Takes two tuples <code>(pos, size)</code>,
    or two objects with <code>.pos</code> and <code>.size</code>.  Returns
    a boolean telling if the two objects overlap.
  </p></div>

{% endblock %}
