{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - Items" %}{% endblock %}

{% block body %}

  <h3>marionette.items</h3>
  <div class="docs-method-name">
    marionette.items.get_item_property(<span class="docs-method-params">typename, attribute</span>)
  </div>
  <div class="docs-method-desc">
    <p>{% blocktrans %}
      Get the value for a property (size, weight_per_unit, etc.) of item type
      <code>typename</code>.
    {% endblocktrans %}</p>
  </div>
{% endblock %}
