{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - Requirements" %}{% endblock %}

{% block body %}

<h1>Logging</h1>
  <h2>How to log</h2>
    <p class="docs-p">{% blocktrans %}
      In the unlikely event that your code isn't perfect the first time, we
      created an interface to the Python logging module that you can access in
      your unit code.  To log debugging statements from your units, first make
      include this line:
    {% endblocktrans %}</p>
    <pre class="bash">
from marionette import logging</pre>
    <p class="docs-p">{% blocktrans %}
      Then, you can use one of the five logging functions:
      <code>logging.debug</code>, <code>logging.info</code>,
      <code>logging.warning</code>, <code>logging.error</code>,
      and <code>logging.critical</code>.  They all work the same way, so here
      is <code>logging.debug</code> as an example.
    {% endblocktrans %}</p>
    <div class="docs-method-name">
      marionette.logging.debug(<span class="docs-method-params">arg1, arg2, ...</span>)
    </div>
      <div class="docs-method-desc">
        <p class="docs-p">{% blocktrans %}
          This function works much like
          <code>print</code>.  Your arguments are concatonated, and become the
          string that is written to your log.  (The arguments do not need to
          be strings, but they need to be able to be cast into strings.)
      {% endblocktrans %}</p></div>

  <h2>What is a logging level?</h2>
    <p class="docs-p">{% blocktrans %}
      Your logging level dictates which log functions you want to see printing
      now.  The default log level is <code>warning</code>, which means that
      messages of level warning or higher (warning, error, critical) will be
      displayed, while debug and info will not.  This way, you can leave log
      statements like <code>logging.info("ate grutonium")</code> in your code,
      and only have them print when you set your logging level to
      <code>info</code> or lower.
    {% endblocktrans %}</p>
    <p class="docs-p">{% blocktrans %}
      You can set your logging level any time you run the game locally.  Use
      the <code>--userloglevel</code> flag, followed by the level you want.
      For example:
    {% endblocktrans %}</p>
    <pre class="bash">
marionette run --userloglevel debug myrootdir/ myrootdir/</pre>
    {% url docs.commands as commands_url %}
    <p class="docs-p">{% blocktrans %}
      Read more about this flag and other <code>run</code> flags <a href=
      "{{ commands_url }}">here</a>
    {% endblocktrans %}</p>

{% endblock %}
