{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - marionette.settings" %}{% endblock %}

{% block body %}

  <h3>marionette.settings</h3>

  <div class="docs-method-name">
    marionette.settings.get_setting(<span class="docs-method-params">key</span>)
  </div>
  <div class="docs-method-desc">
    <p>{% blocktrans %}
      Return <code>settings[key]</code> from your settings.json.
    {% endblocktrans %}</p>
  </div>

  <div class="docs-method-name">
    marionette.settings.get_upgraded_unit_property(<span class="docs-method-params">typename, propertyname)
  </div>
  <div class="docs-method-desc">
    <p>{% blocktrans %}
      For the unit <code>typename</code>, get <em>your</em> value for
      <code>propertyname</code>, factoring in all your upgrades.
    {% endblocktrans %}</p>
  </div>

  <div class="docs-method-name">
    marionette.settings.unit_defined(<span class="docs-method-params">typename</span>)
  </div>
  <div class="docs-method-desc">
    <p>{% blocktrans %}
      Returns <code>True</code> if you define the unit <code>typename</code>
      in your <code>settings['upgrades']</code>.  This lets you know if you
      are allowed to spawn this type of unit.
    {% endblocktrans %}</p>
  </div>
{% endblock %}
