{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - Requirements" %}{% endblock %}

{% block body %}

  <h1>Requirements</h1>
    <p class="docs-p">{% blocktrans %}
      The code you worked so hard on won't run if you forget to specify your
      name in your settings file, or you don't give us a license.  Here are
      all the things required for your code to run smoothly.  (Usually, if
      you're forgetting one of these points, we will give you helpful errors
      when you run <code>marionette parse [your root directory]</code>.)
    {% endblocktrans %}</p>

    <h2>Files</h2>
      <p class="docs-p">{% blocktrans %}
        You will need <b>a file for every unit type</b> you have available.
        If you're just beginning, then you'll only need a file for toad.
        If you've gotten the upgrade for brawlmander, you'll need a file for
        brawlmander too.  These files should go in your root directory.
        Unit code files should be named <code>[unittype].py</code>, where
        unittype is the name of the unit-- <code>tode.py</code>, for example.
        Inside this file, you can define any classes and functions you need,
        but one thing you must define is the <code>Tode</code> class, which
        needs to inherit from <code>marionette.units.Unit</code>.
      {% endblocktrans %}</p>
      <p class="docs-p">{% blocktrans %}
        You will also need a <b>LICENSE file</b> in your root directory.
        This should contain the text of the <a href="http://www.apache.org/
        licenses/LICENSE-2.0.html">Apache License v2.0</a>, which you can
        either get from that link, or copy from the marionette license file.
        If your text doesn't match exactly, our parser will throw an error.
      {% endblocktrans %}</p>
      {% url docs.settings as settings_url %}
      <p class="docs-p">{% blocktrans %}
        Also in your root directory should be a <b>settings file</b>.  It
        should be named <code>settings.json</code>, and it should be a
        dictionary of your preferences and settings.  You can read more about
        settings <a href="{{ settings_url }}">here</a>, but these are the
        settings that are required:
        <ul>
          <li><code>name</code>: must be a string.</li>
          <li><code>level</code>: must be an integer.</li>
          <li><code>api_version</code>: must be greater than or equal to
            the current min_version of marionette.</li>
        </ul>
      {% endblocktrans %}</p>

    <h2>Imports and Illegal Keywords</h2>
      <p class="docs-p">{% blocktrans %}
        For security reasons, we limit what you are allowed to import to a
        whitelist of packages.  The list includes important marionette
        packages like <code>Unit</code> and <code>logging</code>, some
        python packages like <code>math</code> and <code>random</code>,
        and everything from your local machine.  If you try to import anything
        not on that whitelist, our parser will catch your code.
      {% endblocktrans %}</p>
      <p class="docs-p">{% blocktrans %}
        In addition to packages you cannot import, there are certain keywords
        you cannot use.  The full list is in <code>marionette/game/marionette/
        sanitization</code>, but it includes <code>eval</code>, <code>getattr
        </code>, and <code>print</code>.  (We are sorry to take <code>print
        </code> away from you, but it's necessary for our seperate processes
        to work.  The marionette logging module works just like printing.)
      {% endblocktrans %}</p>
{% endblock %}
