{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation" %}{% endblock %}

{% block body %}
  <ul>
    <li><a href="{% url docs.intro %}">{% trans "Getting Started" %}</a></li>
    <li><a href="{% url docs.requirements %}">{% trans "Requirements" %}</a></li>
    <li><a href="{% url docs.settings %}">{% trans "settings.json" %}</a></li>
    <li><a href="{% url docs.commands %}">{% trans "Command Line Usage" %}</a></li>
    <li><a href="{% url docs.sandboxing %}">{% trans "Sandboxing" %}</a></li>
    <li>
      Unit Types
      <ul>
        <li><a href="{% url docs.unit typename="toad" %}">Toad</a></li>
        <li><a href="{% url docs.unit typename="brawlmander" %}">Brawlmander</a></li>
      </ul>
    </li>
    <li>
      Item Types
      <ul>
        <li><a href="{% url docs.item typename="grutonium" %}">Grutonium</a></li>
      </ul>
    </li>
    <li>
      Marionette Modules
      <ul>
        <li><a href="{% url docs.marionette.game %}">marionette.game</a></li>
        <li><a href="{% url docs.marionette.items %}">marionette.items</a></li>
        <li><a href="{% url docs.marionette.logging %}">marionette.logging</a></li>
        <li><a href="{% url docs.marionette.settings %}">marionette.settings</a></li>
        <li><a href="{% url docs.marionette.units %}">marionette.units</a></li>
        <li><a href="{% url docs.marionette.utils.spatial %}">marionette.utils.spatial</a></li>
      </ul>
    </li>
  </ul>
{% endblock %}
