{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - Sandboxing" %}{% endblock %}

{% block body %}

  <h1>Sandboxing</h1>
  <p class="docs-p">{% blocktrans %}
    While we are sure none of you would <em>dream</em> of submitting malicious
    code, we did put some protective measures in place on the off-chance that
    someone would try to hack us.
  {% endblocktrans %}</p>

    <h3>Whitelist</h3>
    <p class="docs-p">{% blocktrans %}
      We only allow you to import a certan set of whitelisted modules.
      These are the modules you're free to use:
    {% endblocktrans %}</p>
      <ul>
        {% for func in whitelist %}
          <li>{{ func }}</li>
        {% endfor %}
      </ul>
    <p class="docs-p">{% blocktrans %}
      If you try to import something that isn't white-listed, <code>marionette
      parse</code> should give you an error, telling you what's wrong.
    {% endblocktrans %}</p>

    <h3>Blacklist</h3>
    <p class="docs-p">{% blocktrans %}
      Similarly, there are things you normally have access to that we block for
      security reasons.  If you use these tokens anywhere-- even for variable
      names-- your code won't run.
    {% endblocktrans %}</p>
      <ul>
        {% for func in blacklist %}
          <li>{{ func }}</li>
        {% endfor %}
      </ul>

    {% url about as about_url %}
    <p class="docs-p">{% blocktrans %}
      If there is a module you want to import that we don't allow,
      <a href="{{ about_url }}#team">let us know</a>.  We will either explain
      why
      we don't let you use it, or we'll review it and add it to the whitelist
      if it seems safe.
    {% endblocktrans %}</p>

{% endblock %}
