{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation - Settings" %}{% endblock %}

{% block body %}

  <h2>Settings</h2>
    <p class="docs-p">{% blocktrans %}
    Your <code>settings.json</code> file will hold all your preferences and
    settings.  Here is a list of different preferences you can set; the
    required settings are marked with an asterisk:
    <ul id="docs-settings-ul">
      <li><b>*name</b>: your player name</li>
      <li><b>*api_version</b>: the latest version of marionette code that
        your code will work with.  We use this to notify you when your
        code is out of date (and probably broken).</li>
      <li><b>*level</b>: your player level.  We use your level to make
        sure you aren't spending too many upgrades.  We let you set it so
        that parse can check your upgrades correctly, but if you upload
        a settings file with an incorrect level, your code won't run.
        (So no setting yourself to level 1000.)</li>
      <li><b>new_git_url</b>: a valid git url, if you want to change
        your repository.</li>
      <li><b>img_url</b>: the url of an image you'd like to use as your
        profile image.  We suggest your picture is less than 225 px wide.
        (Any larger, and we'll scale it down.)</li>
      <li><b>uid</b>: your player id</li>
      <li><b>upgrades</b>: a dictionary specifying where you want to
        spend your upgrade points.</li>
      <li><b>delete</b>: set this variable to true if you ever want to
        delete your account.  <b>WARNING:</b> this will actually delete
        your account, including any xp and upgrades you have accumulated.</li>
    </ul>
    Here is an example settings.json file:
    {% endblocktrans %}</p>
    <pre class="python">
{
    "name": "Spike",
    "uid": 43002,
    "level": 10,
    "upgrades": {
        "toad": {
            "strength": 3,
            "defense": 2,
        },
        "brawlmander": {
            "speed": 4
        }
    },
    "api_version": "0.2"
}</pre>
{% endblock %}
