{% extends "base.html" %}
{% comment %}

    Copyright 2011 Inkylabs et al.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

 <Insert Marionetastical limerick here>

{% endcomment %}
{% load i18n %}

{% block title %}{% trans "Documentation" %} - {{ classname }}{% endblock %}

{% block body %}
  <h1 class="docs-unit-header">{{ classname }}</h1>

  <div id="docs-unit-image">
    <img src="{{ MEDIA_URL }}img/docs/{{ typename }}.png">
    <p>{{ description }}</p>
  </div>

  <table id="docs-stat-table">
    {% for key, value in unit_stats.items %}
      <tr>
        <td class="name">{{ key }}</td>
        <td class="val" id="docs-{{ key }}-val">{{ value }}</td>
      </tr>
    {% endfor %}
  </table>

  <table id="docs-upgrade-table">
    {% for upgrade, vals in upgrades.items %}
      {% if vals|length > 1 %}
        <tr>
          <td class="name">{{ upgrade }}</td>
          {% for val in vals %}
            <td class="choosable {% if forloop.counter0 == 0 %}chosen{% endif %}"
              {% for key, value in val.items %}
                data-{{ key }}="{{ value }}"
              {% endfor %}
            >{{ forloop.counter0 }}</td>
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>

  <h2>Actions</h2>
  <code>act()</code> is a function of {{ classname }} that you define, which
  tells us what you want your unit doing each round.  It must return a tuple of
  the form <code>(command, kwargs)</code>.  Here are the possible commands
  for {{ classname }} and the arguments that go with them: <br><br>

  <div class="docs-unit-methods">
    {% for name, args, desc in actions %}
      <div class="docs-method-name">'{{ name }}', { {{ args }} }</div>
      <div class="docs-method-desc"><p>{{ desc }}</p></div>
    {% endfor %}
  </div>

  <h2>Attributes</h2>
  <div class="docs-unit-vars">
    {% for name, desc in values %}
      <div class="docs-method-name">{{ classname }}.{{ name }}</div>
      <div class="docs-method-desc"><p>{{ desc }}</p></div>
    {% endfor %}
  </div>

{% endblock %}
